# Данные по погоде в городах России

Все данные взяты из СП 131.13330.2018 Строительная климатология (СНиП 23-01-99*)

In [1]:
import pandas as pd
import numpy as np

# Средние температуры по месяцам

In [2]:
mean_temp = pd.read_excel('mean_temp.xlsx')

In [3]:
#mean_temp.head(10)

In [4]:
mean_temp = mean_temp.dropna(axis=0, thresh=4)
mean_temp = mean_temp.dropna(axis=1, thresh=4)
#mean_temp = mean_temp.dropna(axis=0, how='any')
#mean_temp = mean_temp.dropna(axis=1, how='any')

In [5]:
head = ['place','jan','feb','mar','apr','may','jun','jul','aug','sep','oct','nov','dec','year']
mean_temp.columns = head
mean_temp = mean_temp.drop(index=[1,2])
mean_temp = mean_temp.reset_index(drop=True)

In [6]:
mean_temp

,place,jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec,year
0,Майкоп,-1.4,0.3,4.1,11.3,16.5,19.7,22.2,21.9,17.1,11.2,6.2,1.4,10.9
1,Алейск,-17.6,-16.3,-8.7,3.3,12.2,18.4,20.3,17.2,11.3,3.2,-7.5,-15.1,1.7
2,Барнаул*1,-16.3,-14.4,-7.1,3.6,12.3,17.8,19.8,17,10.9,3.3,-6.5,-13.5,2.2
3,Беля,-9.2,-8.1,-3.2,3.2,9.5,14.6,16.9,15.5,10.7,4.1,-3.2,-7.9,3.6
4,Бийск-Зональная*,-16.6,-14.8,-7.5,3.8,12.3,17.7,19.8,17.1,10.9,3.4,-6.4,-13.5,2.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,Коткино,-17.3,-17.8,-12.6,-5.4,0.9,8.4,12.9,10.9,5.6,-1.8,-9,-13.5,-3.2
453,Нарьян-Мар*,-18.1,-17.4,-11.2,-7,0,8,13.3,10.4,5.8,-1.6,-9.5,-13.8,-3.4
454,Ходовариха,-15.5,-16.9,-14.6,-8.6,-2.9,-2.5,8.3,8.4,5.1,-1,-6.9,-11.7,-4.5
455,Хоседа-Хард*,-20.4,-19.7,-13,-8.6,-0.8,8.1,13.3,9.9,4.9,-3.4,-12.1,-16.6,-4.9
456,Ярославль,-11.9,-10.7,-5.1,3.7,10.9,15.7,17.6,16,10,3.4,-2.7,-8.1,3.2

In [69]:
def place_new(x):
    x = x.replace('*','')
    x = x.replace('1','')
#    x = x.replace('Сургут-Ханты-Мансийский АО','Сургут')
#    x = x.replace('Магадан (Нагаева, бухта)','Магадан')
#    x = x.replace('Уренгой-Ямало-Ненецкий АО','Уренгой')
#    x = x.replace('Хатанга-Таймырский АО','Хатанга')
#    if ' - ' in x:
#        x = x[0:x.find(' - ')]
#        return x
    return x

In [70]:
mean_temp['place'] = mean_temp['place'].apply(place_new)
mean_temp['place'] = mean_temp['place'].drop_duplicates(keep = 'first')

In [59]:
citylist_mean_temp = mean_temp['place'].unique()

In [78]:
mean_temp['place'].index(mean_temp['place'].isnull()==True)

TypeError: 'RangeIndex' object is not callable

In [ ]:
x = np.array

In [80]:
np.argwhere(np.isnan(mean_temp['place']))

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [61]:
mean_temp.isnull()

,place,jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec,year
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,False,False,False,False,False,False,False,False,False,False,False,False,False,False
453,False,False,False,False,False,False,False,False,False,False,False,False,False,False
454,False,False,False,False,False,False,False,False,False,False,False,False,False,False
455,False,False,False,False,False,False,False,False,False,False,False,False,False,False
456,False,False,False,False,False,False,False,False,False,False,False,False,False,False

# Параметры холодного времени года

In [10]:
cold = pd.read_excel('cold.xlsx')

In [11]:
cold

,Климатические параметры холодного периода года приведены в таблице 3.1.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,Таблица 3.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Республика, край, область, пункт","Температура воздуха наиболее холодных суток, °...",NaN,Температура воздуха наиболее холодной пятиднев...,NaN,"Температура воздуха, °C, обеспеченносью 0,94","Абсолютная минимальная температура воздуха, °С",Средняя суточная амплитуда температуры воздуха...,"Продолжительность, сут, и средняя температура ...",NaN,NaN,NaN,NaN,NaN,Средняя месячная относительная влажность возду...,Средняя месячная относительная влажность возду...,"Количество осадков за ноябрь - март, мм",Преобладающее направление ветра за декабрь - ф...,Максимальная из средних скоростей ветра по рум...,"Средняя скорость ветра, м/с, за период со сред..."
2,NaN,0.98,0.92,0.98,0.92,NaN,NaN,NaN,0°С,NaN,8°С,NaN,10°С,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,продолжительность,средняя температура,продолжительность,средняя температура,продолжительность,средняя температура,NaN,NaN,NaN,NaN,NaN,NaN
4,1,2,3.00,4,5.00,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
536,Нарьян-Мар*,-44,-43.00,-41,-39.00,-20,-48,9,218,-11.4,289,-7.5,309,-6.5,82,82,132,Ю,4.3,4.2
537,Ходовариха,-39,-37.00,-34,-32.00,-22,-40,8.6,181,-8.4,330,-6.2,365,-4.5,86,86,167,ЮЗ,-,6.6
538,Хоседа-Хард,-48,-46.00,-43,-42.00,-25,-53,9.5,229,-13.3,296,-8.6,318,-7.3,83,82,118,Ю,7.2,4.4
539,Ярославская область,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
540,Ярославль,-37,-34.00,-34,-31.00,-17,-46,8.3,152,-7.8,221,-4,239,-2.8,83,82,174,Ю,5.5,4.3

In [12]:
cold = cold.dropna(axis=0, thresh=8)
cold = cold.dropna(axis=1, thresh=8)

In [13]:
cold = cold.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4','Unnamed: 5','Unnamed: 6','Unnamed: 7','Unnamed: 8',
                  'Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 15',
                  'Unnamed: 19'], axis=1)
cold.columns = ['place','temp_cold','humidity_cold','fallout_cold','wind_direct_cold','wind_max_cold']
cold = cold.drop(index=[1,4])
cold = cold.reset_index(drop=True)

In [14]:
cold.head(2)

    place temp_conv humidity_conv fallout_conv wind_direct_conv wind_max_conv
0  Майкоп       -27            79          276                Ю           5.7
1  Алейск       -44            80          130               ЮЗ           6.8

In [15]:
cold['place'] = cold['place'].apply(place_new)

In [19]:
 citylist_cold= cold['place'].unique()

# Параметры теплого времени года

In [30]:
warm = pd.read_excel('warm.xlsx')

In [31]:
warm

,Климатические параметры теплого периода года приведены в таблице 4.1,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,Таблица 4.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Республика, край, область, пункт","Барометрическое давление, гПа","Температура воздуха, °C, обеспеченностью 0,95","Температура воздуха, °C, обеспеченностью 0,98",Средняя максимальная температура воздуха наибо...,"Абсолютная максимальная температура воздуха, °C",Средняя суточная амплитуда температуры воздуха...,Средняя месячная относительная влажность возду...,Средняя месячная относительная влажность возду...,"Количество осадков за апрель - октябрь, мм","Суточный максимум осадков, мм",Преобладающее направление ветра за июль - август,Минимальная из средних скоростей ветра по румб...
2,1,2,3,4,5,6,7,8,9,10,11,12,13
3,Российская Федерация,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Республика Адыгея,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
534,Нарьян-Мар*,1010,17,22,18,34,9.6,75,64,309,82,С,3.1
535,Ходовариха,1010,9.3,14.1,11.1,29,5.7,89,83,275,42,СВ,-
536,Хоседа-Хард*,1001,17,22,18.9,34,10.3,76,66,325,51,С,3.5
537,Ярославская область,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
538,Ярославль,1000,20.8,25,23.2,37,10.8,74,58,404,76,С,3.9

In [32]:
warm = warm.dropna(axis=0, thresh=8)
warm = warm.dropna(axis=1, thresh=8)

In [33]:
warm = warm.drop(['Unnamed: 1','Unnamed: 2','Unnamed: 4','Unnamed: 5','Unnamed: 6','Unnamed: 8',
                  'Unnamed: 10'],axis=1)
warm = warm.drop(index=[1,2])
warm.columns = ['place','temp_warm','humidity_warm','fallout_warm','wind_direct_warm','wind_min_warm']
warm = warm.reset_index(drop=True)

In [35]:
warm['place'] = warm['place'].apply(place_new)

In [37]:
citylist_warm = warm['place'].unique()

Сравним списки городов

In [39]:
list(set(citylist_mean_temp)^set(citylist_cold))

[nan,
 'Троицко-Печорское',
 'Усть-Нюкжа',
 'Эйк',
 'Новгород',
 'Эйик',
 'Исиль-Куль',
 'Троицко-Печорск',
 'Великий Новгород',
 'Томпо',
 'Усхь-Нюкжа',
 'Томно']

In [40]:
list(set(citylist_mean_temp)^set(citylist_warm))

[nan, 'Черняево', 'Исиль-Куль', 'Хатанга-Таймырский АО', 'Хатанга']

In [41]:
list(set(citylist_warm)^set(citylist_cold))

['Троицко-Печорское',
 'Усть-Нюкжа',
 'Эйк',
 'Новгород',
 'Эйик',
 'Черняево',
 'Троицко-Печорск',
 'Хатанга-Таймырский АО',
 'Великий Новгород',
 'Томпо',
 'Усхь-Нюкжа',
 'Хатанга',
 'Томно']